<html>
<head>
  <title>PDS login</title>
<script>
<!--

var debug =0 ;

function LoginPds() {
      var url = 'https://pdsdev.library.nyu.edu:443/pds?func=load-login&calling_system=aleph&institute=NYU&url=https://alephstage.library.nyu.edu/F/N88QMT7G36GIA5D9DUBQ93L448566J5K6XPRFHHJYQH8N1I14F-00420?func=item-hold-request&amp;doc_library=NYU50&amp;adm_doc_number=001816252&amp;item_sequence=000020&amp;year=&amp;volume=&amp;sub_library=BOBST&amp;type=&amp;no_loaned=N&amp;start_rec_key=&amp;end_rec_key=';
      if (debug == 1) alert (url);
      window.location = url;
}

// -->
</script>
</head>
<body onload = "LoginPds()">
</body>
</html>
