<!doctype html>
<html>

<head>
    <title>Holdings</title>
    <link rel="stylesheet" href="node_modules/jasmine-core/lib/jasmine-core/jasmine.css">
    <script src="node_modules/jasmine-core/lib/jasmine-core/jasmine.js"></script>
    <script src="node_modules/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
    <script src="node_modules/jasmine-core/lib/jasmine-core/boot.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.19/jquery-ui.min.js"></script>
    <script src="/testem.js"></script>
    {{#serve_files}}
        <script src="{{src}}"></script>
    {{/serve_files}}
    <script src="spec/js/dist/format_holdings_spec.js"></script>
    <script src="spec/js/dist/broken_link_spec.js"></script>
    <script src="spec/js/dist/holding_spec.js"></script>
    <script src="spec/js/dist/modal_dialog_spec.js"></script>
</head>

<body id="holdings" class="items">
    <!-- filename: head-1-bor -->
    <div id="feedbackbar" class="feedbackbar">
        <p>&nbsp;</p>
    </div>
    <div id="content">
        <div id="main">
            <div class="section">
                <h3>Holdings</h3>
                <table id="bib">

                    <!-- filename: full-xxx-body -->
                    <tr>
                        <td class="fxxx"><span> Husihui.: <br>         </span></td>
                    </tr>

                    <!-- filename: full-xxx-body -->
                    <tr>
                        <td class="fxxx"><span>A soup for the Qan :Chinese dietary medicine of the Mongol era as seen in Hu Sihui&#39;s Yinshan zhengyao : introduction, translation, commentary, and Chinese text /by Paul D. Buell and Eugene N. Anderson ; with an appendix by Charles Perry..<br>         </span></td>
                    </tr>

                    <!-- filename: full-xxx-body -->
                    <tr>
                        <td class="fxxx"><span> &nbsp;&nbsp;&nbsp;Leiden, the Netherlands : Brill, ©2010..<br>         </span></td>
                    </tr>

                    <!-- filename: full-xxx-body -->
                    <tr>
                        <td class="fxxx"><span> &nbsp;&nbsp;1 online resource (xiv, 661 pages) : &nbsp;illustrations..<br>         </span></td>
                    </tr>

                    <!-- filename: full-xxx-body -->
                    <tr class="emptyBibRow">
                        <td class="fxxx"><span> &nbsp;<br>         </span></td>
                    </tr>

                    <!-- filename item-global-tail-1 -->
                </table>
                <table id="holdingsTable">


                    <!-- filename: full-999-body -->
                    <!-- include>placeholders -->
                    <tr class="f99">
                        <td class="nowrap f99label">
                            Location
                        </td>
                        <td align=left>
                            NYU Restricted&nbsp;;&nbsp;Internet Resources&nbsp;;&nbsp;RM217&nbsp;.B79 2010eb
                        </td>
                    </tr>


                    <!-- filename: full-999-body -->
                    <!-- include>placeholders -->
                    <tr class="f99 summaryHoldings">
                      <td class="nowrap f99label">
                        Summary Holdings
                      </td>
                      <td align="left">
                        Bobst Offsite&nbsp;(RG951 .M13)&nbsp;VOLUMES:2-38:3&nbsp;YEARS:1977-2013&nbsp;
                      </td>
                    </tr>




                    <!-- filename: full-999-body -->
                    <!-- include>placeholders -->
                    <tr class="f99 summaryHoldings">
                      <td class="nowrap f99label">

                      </td>
                      <td align="left">
                        Bobst Microform&nbsp;(Fiche/Per)&nbsp;VOLUMES:1-24&nbsp;YEARS:1976-1999&nbsp;
                      </td>
                    </tr>


                    <!-- filename: full-999-body -->
                    <!-- include>placeholders -->
                    <tr class="f99">
                        <td class="nowrap f99label">
                            Location
                        </td>
                        <td align=left>
                            NYU Bobst&nbsp;;&nbsp;Main Collection&nbsp;;&nbsp;RG951&nbsp;.M13
                        </td>
                    </tr>


                    <!-- filename: full-999-body -->
                    <!-- include>placeholders -->
                    <tr class="f99 summaryHoldings">
                      <td class="nowrap f99label">
                        Summary Holdings
                      </td>
                      <td align="left">
                        Bobst Offsite&nbsp;(RG951 .M13)&nbsp;VOLUMES:2-38:3&nbsp;YEARS:1977-2013&nbsp;
                      </td>
                    </tr>




                    <!-- filename: full-999-body -->
                    <!-- include>placeholders -->
                    <tr class="f99 summaryHoldings">
                      <td class="nowrap f99label">

                      </td>
                      <td align="left">
                        Bobst Microform&nbsp;(Fiche/Per)&nbsp;VOLUMES:1-24&nbsp;YEARS:1976-1999&nbsp;
                      </td>
                    </tr>



                    <!-- filename: full-999-body -->
                    <!-- include>placeholders -->
                    <tr class="f99">
                        <td class="nowrap f99label">
                            Electronic Location
                        </td>
                        <td align=left>
                            <a id="bweb_link" href="http://site.ebrary.com/lib/nyulibrary" target="new">http://site.ebrary.com/lib/nyulibrary</a> BWEB
                        </td>
                    </tr>
                    <tr class="f99">
                        <td class="nowrap f99label">
                            Electronic Location
                        </td>
                        <td align=left>
                            <a id="tweb_link" href="http://site.ebrary.com/lib/nyulibrary" target="new">http://site.ebrary.com/lib/nyulibrary</a> TWEB
                        </td>
                    </tr>
                    <tr class="f99">
                        <td class="nowrap f99label">
                            Electronic Location
                        </td>
                        <td align=left>
                            <a id="cu_link" href="http://site.ebrary.com/lib/nyulibrary" target="new">http://site.ebrary.com/lib/nyulibrary</a> CU
                        </td>
                    </tr>
                    <tr class="f99">
                        <td class="nowrap f99label">
                            Electronic Location
                        </td>
                        <td align=left>
                            <a id="nweb_link" href="http://site.ebrary.com/lib/nyulibrary" target="new">http://site.ebrary.com/lib/nyulibrary</a> NWEB
                        </td>
                    </tr>
                    <tr class="f99">
                        <td class="nowrap f99label">
                            Electronic Location
                        </td>
                        <td align=left>
                            <a id="nysid_link" href="http://site.ebrary.com/lib/nyulibrary" target="new">http://site.ebrary.com/lib/nyulibrary</a> NYSID
                        </td>
                    </tr>
                    <tr class="f99">
                        <td class="nowrap f99label">
                            Electronic Location
                        </td>
                        <td align=left>
                            <a id="web_link" href="http://site.ebrary.com/lib/nyulibrary" target="new">http://site.ebrary.com/lib/nyulibrary</a> WEB
                        </td>
                    </tr>





                    <!-- filename item-global-tail-2 -->
                </table>

                <table id="items">
                  <tr>
                    <th>&nbsp;</th>
                    <th><a href="https://library.nyu.edu/availability/" target="_blank">Availability</a></th>
                    <th></th>
                    <th>Item Type</th>
                    <th><a href="https://library.nyu.edu/locations/" target="_blank">Location</a></th>
                    <th>Collection</th>
                    <th><a href="https://library.nyu.edu/about/collections/search-collections/call-numbers/" target="_blank">Call Number</a></th>
                    <th>No. of Requests</th>
                    <th>Note</th>
                  </tr>

      <!--filename: item-global-body-nyu01 -->
                  <tr>
                    <td class="links"><A HREF=https://alephstage.library.nyu.edu:443/F/A2GCL78VGDCCCLGM2G7PJT72DIT45PTAYEFMAB477KRRNNXRFS-00765?func=item-hold-request&doc_library=NYU50&adm_doc_number=001816252&item_sequence=000570&year=&volume=&sub_library=BOBST&type=&no_loaned=N&start_rec_key=&end_rec_key=>Request</A><BR>&nbsp;</td>
                    <!--Due date-->
                    <td class="due_date mapped_status">International documents</td>
                    <!--Due hour-->
                    <td class="due_hour"><br></td>
                    <!--Loan status-->
                    <td>Periodicals</td>
                    <!--Sub-library-->
                    <td class="nowrap sub_library">NYU Bobst</td>
                    <!--Collection-->
                    <td class="nowrap collection">Main Collection</td>
                    <!--Call Number-->
                    <td class="call_number">BP1&nbsp;.R39 année 1938-1939</td>
                    <!--No Requests-->
                    <td class="requests"><br></td>
                    <!--note-opac-->
                    <td class="notes"><br></td>
                  </tr>

      <!--filename: item-global-body-nyu01 -->
                  <tr>
                    <td class="links"><A HREF=https://alephstage.library.nyu.edu:443/F/A2GCL78VGDCCCLGM2G7PJT72DIT45PTAYEFMAB477KRRNNXRFS-00766?func=item-hold-request&doc_library=NYU50&adm_doc_number=001816252&item_sequence=000580&year=&volume=&sub_library=BOBST&type=&no_loaned=N&start_rec_key=&end_rec_key=>Request&nbsp;&nbsp;</A><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <!--Due date-->
                    <td class="due_date unmapped_status">Unknown status</td>
                    <!--Due hour-->
                    <td class="due_hour"><br></td>
                    <!--Loan status-->
                    <td>Periodicals</td>
                    <!--Sub-library-->
                    <td class="nowrap sub_library">NYU Bobst</td>
                    <!--Collection-->
                    <td class="nowrap collection">Main Collection</td>
                    <!--Call Number-->
                    <td class="call_number">BP1&nbsp;.R39 année 1940</td>
                    <!--No Requests-->
                    <td class="requests"><br></td>
                    <!--note-opac-->
                    <td class="notes"><br></td>
                  </tr>

      <!--filename: item-global-body-nyu01 -->
                  <tr>
                    <td class="links"><A class="request-to-click" HREF=/includes/holdings_request.html>Request&nbsp;&nbsp;</A><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <!--Due date-->
                    <td class="due_date unmapped_status">Unknown status</td>
                    <!--Due hour-->
                    <td class="due_hour"><br></td>
                    <!--Loan status-->
                    <td>Periodicals</td>
                    <!--Sub-library-->
                    <td class="nowrap sub_library">NYU Bobst</td>
                    <!--Collection-->
                    <td class="nowrap collection">Main Collection</td>
                    <!--Call Number-->
                    <td class="call_number">BP1&nbsp;.R39 année 1940</td>
                    <!--No Requests-->
                    <td class="requests"><br></td>
                    <!--note-opac-->
                    <td class="notes"><br></td>
                  </tr>
                </table>

            </div>
        </div>
    </div>
</body>

</html>
