<!doctype html>
<html>

<head>
    <title>Request ILL</title>
    <link rel="stylesheet" href="node_modules/jasmine-core/lib/jasmine-core/jasmine.css">
    <script src="node_modules/jasmine-core/lib/jasmine-core/jasmine.js"></script>
    <script src="node_modules/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
    <script src="node_modules/jasmine-core/lib/jasmine-core/boot.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.19/jquery-ui.min.js"></script>
    <script src="/testem.js"></script>
    {{#serve_files}}
    <script src="{{src}}"></script>
    {{/serve_files}}
    <script src="spec/js/dist/ill_spec.js"></script>
    <script type="text/javascript">
      var doc_library = "$0100";
      var doc_number = "$0200";
      var item_sequence = "$0300";
    </script>
</head>

<!-- <body onload="bs_request_ill(doc_library, doc_number)"> -->
<body>
  <noscript>
    <a href="/F/?func=item-sfx&doc_library=$0100&doc_number=$0200&local_base=PRIMOCOMMON">Request ILL</a>
  </noscript>
</body>

</html>
