<!doctype html>
<html>
<head>
<title>PDS Login</title>
<link rel="stylesheet" href="node_modules/jasmine-core/lib/jasmine-core/jasmine.css">
<script src="node_modules/jasmine-core/lib/jasmine-core/jasmine.js"></script>
<script src="node_modules/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
<script src="node_modules/jasmine-core/lib/jasmine-core/boot.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.19/jquery-ui.min.js"></script>
<script src="/testem.js"></script>
{{#serve_files}}
<script src="{{src}}"></script>
{{/serve_files}}
<script src="spec/js/src/utils_spec.js"></script>
<script src="spec/js/src/pds_login_spec.js"></script>
</head>
<body>
  <body>
    <div id="main">
    <h3>Holdings</h3>
    </div>
  </body>
</body>
</html>
